<hr class="featurette-divider" style=" border-top:2px solid #083972;">

<!-- /END THE FEATURETTES -->


<!-- FOOTER -->
<footer>
	
	<p style="text-align: center;  ">© 2017 Designing & Development by Sevket KAPLAN·  All Rights Reserved.</p>
</footer>