	<div class="jumbotron">
		<div class="container">
			<h1>Welcome to My Devise&Paperclip Page</h1>
			<p>Hello , welcome to my project page. I use devise and paperclip library with bootstrap in this web site. If would you use or you dont have already account, you just click button and Sign UP. <br>
			Berfore surfing my page must login. </p>
			<%= link_to 'Sign up', new_user_registration_path, :class=>"btn btn-warning btn-lg" %>
		</div>
	</div>