<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading">About<span class="text-muted"></span></h2>
		 <hr class="featurette-divider" style=" border-top:1px solid #083972;">
		<p class="lead">Hello,<br>My name is Şevket KAPLAN. I'm Software Engineer student. I have enought to exam so I didn't used Adminpanel and User capatitation in this project.<br>Thank you look my site.</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="<%= asset_path( 'profile.jpg' ) %>" data-holder-rendered="true">
	</div>
</div>